.totalPurchase {
  font-size: 3rem;
  color: #000;
  margin: 5px;
  font-weight: lighter;
}

.clearCart,
.finishPurchase {
  margin: 2px;
  padding: 6px 15px;
  text-align: center;
  font-weight: bolder;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 5px;
  background-color: green;
}

.clearCart {
  color: white;
  background-color: red;
  border: 2px solid black;
}

.clearCart:hover {
  transition: all 0.5s ease;
  transform: scale(1.05);
  border: 2px solid black;
  color: black;
  background-color: red;
  margin-left: 10px;
  margin-right: 10px;
}

.finishPurchase:hover {
  transition: all 0.5s ease;
  transform: scale(1.05);
  border: 2px solid black;
  color: black;
  background-color: green;
  margin-left: 10px;
  margin-right: 10px;
}