footer {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  color: white;
}

.footerLogo img {
  width: 10rem;
  transition: .5s;
}

.footerLogo img:hover {
  rotate: 55deg;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.social img {
  width: 50px;
  display: block;
  margin: 5px;
}
.social img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
