.addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.addToCartButton {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid red;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.addToCartButton:hover {
  background-color: red;
  border: 2px solid white;
  color: white;
  transition: all 0.3s ease-in-out;
}
